* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  margin: 0 auto;
  max-width: 1920px;
}
html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[hidden],
template {
  display: none;
}

body {
  margin: 0 auto;
  max-width: 1920px;
}

body.-lock {
  overflow: hidden;
}

*,
:after,
:before {
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
/*
img {
  width: 100%;
}
*/
.container {
  max-width: 1920px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.head {
  width: 100%;
  height: 720px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../public/assets/coffeeNav.jpg);
  background-position: 0 29%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.head__items {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 10px 20px 30px rgba(0, 0, 0, 0.92);
  background: rgba(0, 0, 0, 0.91) 0 0 no-repeat padding-box;
  padding: 24px 142px 0;
}

.label {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.label h1 {
  color: #fff;
  font: normal normal normal 3rem/65px Open Sans, sans-serif;
  letter-spacing: 0;
  margin: 0 140px 36px 0;
  opacity: 1;
}

.item a {
  font: normal normal normal 30px/40px Segoe UI;
  color: #ffffff;
  margin-right: 55px;
  position: relative;
}

.item a:after {
  background-color: #fff;
  border-radius: 100px;
  content: "";
  display: block;
  height: 3px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 106%;
  transition: opacity 0.2s linear;
  width: 100%;
  z-index: 1;
}
.item a:hover:after {
  opacity: 1;
}
.item a:first-child {
  margin-right: 55px;
}
.description {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 50px;
  width: 89%;
  align-self: center;
}
.description__image {
  width: 812px;
  margin-top: 80px;
}
.description__image img {
  width: 100%;
}

.description__title {
  width: 670px;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
}
.description__title h2 {
  font: normal normal bold 36px/49px Open Sans;
}
.description__title p {
  font: normal normal normal 24px/36px Open Sans;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
  padding-top: 30px;
}

.nav__title {
  display: flex;
  justify-content: center;
  font: normal normal bold 36px/49px Open Sans;
  letter-spacing: 0px;
  color: #2d0800;
  opacity: 1;
  padding-bottom: 50px;
}
.nav__images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box {
  width: 400px;
  height: 440px;
  text-align: center;
  font: normal normal bold 30px/40px Segoe UI;
  letter-spacing: 0px;
  color: #2d0800;
  margin-bottom: 30px;
}
.box img {
  object-fit: cover;
  width: 400px;
  height: 400px;
  padding-bottom: 10px;
  border-radius: 25px;
}

.basement {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.basement__title {
  width: 100%;
  font: normal normal bold 36px/49px Open Sans;
  letter-spacing: 0px;
  color: #2d0800;
  opacity: 1;
  text-align: center;
  padding-bottom: 40px;
}
.basment__galery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 88%;
  align-self: center;
}
.basement__image {
  width: 395px;
  height: 395px;
  display: flex;
  position: relative;
  margin: 23px 0 5px;
}

.basement__image img {
  width: 395px;
  height: 395px;
  object-fit: cover;
  border-radius: 16px;
  padding-bottom: 5px;
}

.zoom {
  cursor: pointer;
  left: 88%;
  position: absolute;
  top: 88%;
  transition: all 0.4s ease-in-out;
  width: 20px;
  max-width: 38px;
  max-height: 32px;
}
.zoom:hover {
  -webkit-transform: scale(2);
  transform: scale(2);
}
.zoom img {
  object-fit: contain;
}
.Kontakt__ {
  width: 100%;
  text-align: center;
  font: normal normal bold 36px/49px Open Sans;
  margin-top: 50px;
  margin-bottom: 60px;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 190px;
  margin-right: 60px;
}
.settngs {
  width: 265;
  height: 66px;
  align-items: center;
  display: flex;
  font: normal normal bold 24px/33px Open Sans;
}
.road {
  width: 223px;
  height: 66px;
}

.settngs img {
  height: 25px;
  width: 25px;
}
.settngs p {
  padding-left: 10px;
}

.map {
  border: 2px solid #707070;
  height: 443px;
  max-width: 674px;
  min-width: 200px;
  width: 520px;
}
.map {
  border: 1px solid #707070;
  height: 443px;
  margin-left: 120px;
  max-width: 674px;
  min-width: 520px;
}
.map iframe {
  border: none;
  height: 100%;
  width: 100%;
}

.image__mobile {
  display: none;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .map {
    margin-left: 0;
    min-width: 768px;
    min-width: auto;
    width: 520px;
  }
  .map {
    margin-left: 0;
    min-width: 768px;
    min-width: auto;
    width: 100%;
  }

  .contacts {
    margin-right: 0px;
    margin-top: 50px;
  }
  .footer {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
  }
  .mail {
    padding-bottom: 20px;
  }
  .head__items {
    position: fixed;
    z-index: 1;
    background: rgba(0, 0, 0, 1) no-repeat;
    box-shadow: 0 30px 20px 16px rgba(0, 0, 0, 0.92);
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0);
  }

  .basement__galery {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .basement__image {
    height: auto;
    width: 100%;
  }
  .basement__image img {
    object-fit: cover;
    width: 100%;
    height: 454px;
  }
  .label {
    position: sticky;
    top: 90%;
  }
  .menu-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 25%;
    right: 5%;

    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 150%;
    height: 2px;
    background-color: #4cbf41;
    transition-duration: 0.25s;
  }

  .menu-btn > span::before {
    content: "";
    top: -8px;
    width: 100%;
  }
  .menu-btn > span::after {
    content: "";
    top: 8px;
    width: 100%;
  }

  .menubox {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #272e33;
    box-shadow: 1px 0px 6px rgba(28, 26, 26, 0.2);
    transition-duration: 0.25s;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .menu-item {
    display: block;
    padding: 12px 24px;
    color: #fffbfb;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
    font-size: 2rem;
    margin-bottom: 5px;
  }
  .menu-item:hover {
    background-color: #cfd8dc;
  }

  #menu-toggle {
    opacity: 0;
  }

  #menu-toggle:checked ~ .menu-btn > span {
    transform: rotate(45deg);
  }
  #menu-toggle:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu-toggle:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu-toggle:checked ~ .menubox {
    visibility: visible;
    left: 0;
  }
  .item {
    display: none;
  }
  .head__items {
    width: 100%;
    height: 100px;
    box-shadow: 0 20px 20px 15px rgba(0, 0, 0, 0.92);
    background: rgba(0, 0, 0, 0.91) 0 0 no-repeat padding-box;
  }
  .image__mobile {
    align-items: center;
    background-color: #f0f8ff;
    border-radius: 50%;
    display: flex;
    height: 60px;
    justify-content: center;
    left: 30px;
    position: relative;
    width: 60px;
    z-index: 3;
    top: -15%;
    left: -110%;
  }
  .image__mobile img {
    width: 70%;
  }
}
@media only screen and (min-width: 769px) {
  .burger-menu {
    display: none;
    overflow: hidden;
  }
}
@media only screen and (max-width: 320px), (max-width: 539px) {
  .image__mobile {
    position: absolute;
    z-index: 3;
    left: 5%;
    top: 15%;
  }
  .label h1 {
    font-size: 35px;
    margin-left: 30px;
  }
}
@media only screen and (max-width: 425px) {
  .map {
    height: 400px;
    max-width: 425px;
  }
}
@media only screen and (max-width: 375px) {
  .map {
    height: 258px;
    max-width: 375px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media only screen and (max-width: 420px) {
  .container {
    min-width: 440px;
  }
}

@media (max-width: 881px) and (min-width: 769px) {
  .head__items {
    width: 840px;
    max-height: 50px;
  }
  .head {
    overflow: hidden;
  }
}
@media (min-width: 1920px) {
  .wrapper {
    overflow: hidden;
  }
}
.body > iframe {
  display: none;
}

.lock {
  overflow: hidden;
}
.centergalery {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  animation-name: modalopen;
  animation-duration: 0.3s;
  max-width: 900px;
  max-height: 600px;
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translate(0, -100px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.close {
  background-color: #fbb904;
  border-radius: 50%;
  color: #fbb904;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close:hover,
.close:focus {
  color: rgb(70, 45, 45);
  text-decoration: none;
  cursor: pointer;
}
.item__img {
  border-radius: 16px;
  height: inherit;
  object-fit: cover;
  width: 900px;
  max-height: 550px;
}
@media only screen and (max-width: 768px) {
  .modal-content {
    width: 550px;
    height: 550px;
  }
  .item__img {
    border-radius: 20px;
    object-fit: cover;
    max-width: 550px;
    max-height: 550px;
  }
  .item__img img {
    object-fit: fill;
    border-radius: 16px;
    object-fit: cover;
    max-width: 550px;
    max-height: 550px;
  }
  .close {
    position: absolute;
  }
}
